<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<load href="__ROOT__/Public/Home/theme/default/js/jquery.min.js" />
<load href="__ROOT__/Public/Home/widget/bootstrap-3.3.5-dist/js/bootstrap.min.js" />

<load href="__ROOT__/Public/Home/widget/bootstrap-3.3.5-dist/css/bootstrap.min.css" />
<load href="__ROOT__/Public/Home/widget/fontawesome4.2.0/css/font-awesome.min.css" />
<load href="__ROOT__/Public/Home/theme/default/css/buttons.css" />
<load href="__ROOT__/Public/Home/theme/default/css/style.css" />