<hr />
<div>
   <div class="container">
   		<div class="row footer-top">
          <div class="col-sm-6 col-lg-6">
            <h4>
              
            </h4>
	    		<p>本站点科学上网程序基于开源技术（SS），安装所有（SS）二次开发工具软件都可以使用本站点服务器配置。如果不知道（SS），可查看维基百科介绍（不过，你也可以不用知道，它就是一个软件）：<a href="https://zh.wikipedia.org/wiki/Shadowsocks" target="_blank">https://zh.wikipedia.org/wiki/Shadowsocks</a></p>
          </div>
          <div class="col-sm-6  col-lg-5 col-lg-offset-1">
            <div class="row about">
              <div class="col-xs-3">
                <h4>关于</h4>
                <ul class="list-unstyled">
                  <li><a href="/download.html">使用教程</a></li>
                  <li><a href="/free.html">免费试用</a></li>
                </ul>
              </div>
              <div class="col-xs-3">
                <h4>联系方式</h4>
                <ul class="list-unstyled">
                  <li>
	<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=27b9560dc1b0e3ef20426d854715ecc5a105f02a1bc88b1f938795c44357ef1f"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="免费VPN代理软件①" title="免费VPN代理软件①"></a>
</li>
                
                </ul>
              </div>
              <div class="col-xs-3">
                <h4>旗下网站</h4>
                <ul class="list-unstyled">
                  <li><a href="http://www.dn-diy.com/" target="_blank">电脑diy</a></li>
                  <li><a href="http://www.shiyongwu.com/" target="_blank">试用屋</a></li>
                </ul>
              </div>
              <div class="col-xs-3">
                <h4>赞助商</h4>
                <ul class="list-unstyled">
                  <li><a href="http://www.java321.com/" target="_blank">Java321</a></li>
                </ul>
              </div>
            </div>
    
          </div>
        </div>
       <hr />
       <p>版权所有||项链提供技术支持--扣扣646469050</p>
   </div>
</div>