<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" content="ie=edge" />
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 <title>免费试用结点-科学上网（SS）</title>
 
 <include file="Public/cssjs" />
 <script type="text/javascript">

</script>
</head>
<body>
<include file="Public/nav" />
<div class="jumbotron">
  <div class="container top-max">
  	 <div class="clearfix" style="height:4em;"></div>
     <center>
     	<h2>程序下载&使用教程</h2>
     	<div class="clearfix" style="height:0.2em;"></div>
     </center>
  </div>
</div>
<!-- <i class="fa fa-camera-retro fa-lg"></i> fa-lg -->
<!-- <i class="fa fa-camera-retro fa-2x"></i> fa-2x -->
<!-- <i class="fa fa-camera-retro fa-3x"></i> fa-3x -->
<!-- <i class="fa fa-camera-retro fa-4x"></i> fa-4x -->
<!-- <i class="fa fa-camera-retro fa-5x"></i> fa-5x -->
<div class="container">
	 	 
	 <div class="row">
 	 	<div class="col-lg-12"> 
 	 		<div>
			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#android" aria-controls="android" role="tab" data-toggle="tab">安卓</a></li>
			    <li role="presentation"><a href="#apple" aria-controls="apple" role="tab" data-toggle="tab">苹果</a></li>
			    <li role="presentation"><a href="#win" aria-controls="win" role="tab" data-toggle="tab">Win</a></li>
			    <li role="presentation"><a href="#mac" aria-controls="mac" role="tab" data-toggle="tab">Mac</a></li>
			  </ul>
			
			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="android">
			    	<div>
			    		<div class="bg-success line-item">程序各版本下载</div>
				    	<div class="line-item">
				    		<p><i class="fa fa-android"></i>：<a href="http://www.vpn123456.com/files/ss_andoird2.8.3.apk">andoird2.8.3.apk下载【无广告推荐下载】</a></p>
				    		<p><i class="fa fa-android"></i>：<a href="http://www.vpn123456.com/files/ss_andoird3.0.0.apk">andoird3.0.0.apk下载</a></p>
				    	</div>
			    	</div>
			    	
					 <div class="bg-info line-item">程序使用教程</div>
				 	 <div class="clearfix" style="height:2em;"></div>
				 	 <div class="list-group">
					  <div class="list-group-item list-group-item-info tech-item">
					  	<p>1、先安装软件，打开，如下图，点左上角三横线菜单。</p>
					    <img src="__PUBLIC__/Home/theme/default/images/tech/android/step01.jpg"></img>	
					  </div>
					  <div class="list-group-item list-group-item-info tech-item">
					  	<p>2、添加配置文件。</p>
					  	<img src="__PUBLIC__/Home/theme/default/images/tech/android/step02.jpg"></img>	
					  </div>
					  <div class="list-group-item list-group-item-info tech-item">
					  	<p>3、按照如下对应填写，点击右上角关闭按钮。</p>
					  	<img src="__PUBLIC__/Home/theme/default/images/tech/android/step03.jpg"></img>
					  </div>
					  <div class="list-group-item list-group-item-info tech-item">
					  	<p>4、勾选我信任，并确定。</p>
					  	<img src="__PUBLIC__/Home/theme/default/images/tech/android/step04.jpg"></img>
					  </div>
					  <div class="list-group-item list-group-item-info tech-item">
					  	<p>5、如下图，表示已经成功。</p>
					  	<img src="__PUBLIC__/Home/theme/default/images/tech/android/step05.jpg "></img>
					  </div>
					</div>
					
			    </div>
			    <div role="tabpanel" class="tab-pane" id="apple">
					
					<div>
			    		<div class="bg-success line-item">ios程序各版本下载</div>
				    	<div class="line-item">
				    		<i class="fa fa-apple"></i>：<a href="https://itunes.apple.com/us/app/wingy-proxy-for-http-s-socks5/id1178584911?mt=8">苹果客户端下载</a>
				    		<p>复制下载地址：https://itunes.apple.com/us/app/wingy-proxy-for-http-s-socks5/id1178584911?mt=8</p>
				    		<p>苹果商店搜索：Wingy 找到免费版本</p>
				    	</div>
			    	</div>
			    	
					 <div class="bg-info line-item">程序使用教程</div>
				 	 <div class="clearfix" style="height:2em;"></div>
				 	 <div class="list-group">
					  <div class="list-group-item list-group-item-info tech-item">
					  	<p>1、安装app打开 ，点击下图的添加路线。</p>
					    <img src="__PUBLIC__/Home/theme/default/images/tech/apple/step01.png"></img>	
					  </div>
					  <div class="list-group-item list-group-item-info tech-item">
					  	<p>1、添加路线。</p>
					  	<img src="__PUBLIC__/Home/theme/default/images/tech/apple/step02.png"></img>	
					  </div>
					  <div class="list-group-item list-group-item-info tech-item">
					  	<p>3、选择类型：shadowsocks(R)</p>
					  	<img src="__PUBLIC__/Home/theme/default/images/tech/apple/step03.png"></img>
					  </div>
					  <div class="list-group-item list-group-item-info tech-item">
					  	<p>4、配置如下，并保存。</p>
					  	<img src="__PUBLIC__/Home/theme/default/images/tech/apple/step04.png"></img>
					  </div>
					  <div class="list-group-item list-group-item-info tech-item">
					  	<p>5、选择刚配置好的数据</p>
					  	<img src="__PUBLIC__/Home/theme/default/images/tech/apple/step05.png"></img>
					  </div>
					  <div class="list-group-item list-group-item-info tech-item">
					  	<p>6、点击中间按钮启动SS</p>
					  	<img src="__PUBLIC__/Home/theme/default/images/tech/apple/step06.png"></img>
					  </div>
					</div>
					
				</div>
			    <div role="tabpanel" class="tab-pane" id="win">
					
					<div>
			    		<div class="bg-success line-item">程序各版本下载</div>
				    	<div class="line-item"><i class="fa fa-windows"></i>：<a href="http://www.vpn123456.com/files/ss_Win.zip">ss_Win.zip下载</a></div>
			    	</div>
			    	
					 <div class="bg-info line-item">程序使用教程</div>
				 	 <div class="clearfix" style="height:2em;"></div>
				 	 <div class="list-group">
							  <div class="list-group-item list-group-item-info tech-item">
							  	<p>1、第一次运行软件</p>
							    <img src="__PUBLIC__/Home/theme/default/images/tech/win/step01.jpg"></img>	
							  </div>
							  <div class="list-group-item list-group-item-info tech-item">
							  	<p>2、填写配置如下，然后确认或者添加按钮继续添加配置。</p>
							  	<img src="__PUBLIC__/Home/theme/default/images/tech/win/step02.png"></img>	
							  </div>
							  <div class="list-group-item list-group-item-info tech-item">
							  	<p>3、找到右下角的小飞机，右键，勾选启动系统代理。</p>
							  	<img src="__PUBLIC__/Home/theme/default/images/tech/win/step03.png"></img>
							  </div>
							  <div class="list-group-item list-group-item-info tech-item">
							  	<p>4、这里可以选择全局模式（所以网站都能过代理上网），和pac模式（只有pac记录的国外网站能过代理上网，百度等这些国内网站还是不通过代理上网）</p>
							  	<img src="__PUBLIC__/Home/theme/default/images/tech/win/step04.png"></img>
							  </div>
							  <div class="list-group-item list-group-item-info tech-item">
							  	<p>5、这里还可以添加新的配置和选择别的配置。</p>
							  	<img src="__PUBLIC__/Home/theme/default/images/tech/win/step05.png"></img>
							  </div>
							</div>
					
				</div>
			    <div role="tabpanel" class="tab-pane" id="mac">
					<div>
			    		<div class="bg-success line-item">程序各版本下载</div>
				    	<div class="line-item"><i class="fa fa-laptop"></i>：<a href="http://www.vpn123456.com/files/ss_Mac.zip">ss_Mac.zip下载</a></div>
			    	</div>
			    	
					 <div class="bg-info line-item">程序使用教程</div>
				 	 <div class="clearfix" style="height:2em;"></div>
				 	 <div class="list-group">
							  <div class="list-group-item list-group-item-info tech-item">
							  	<p>1、下载好后，打开如下图，双击运行程序。</p>
							    <img src="__PUBLIC__/Home/theme/default/images/tech/mac/step01.jpg"></img>	
							  </div>
							  <div class="list-group-item list-group-item-info tech-item">
							  	<p>2、找到小飞机图标，打开服务器设定，按照如图设置，然后确定。</p>
							  	<img src="__PUBLIC__/Home/theme/default/images/tech/mac/step02.jpg"></img>	<br></br>
							  	<img src="__PUBLIC__/Home/theme/default/images/tech/mac/step03.jpg"></img>
							  </div>
							  <div class="list-group-item list-group-item-info tech-item">
							  	<p>3、打开shadowsocks，上个google试试。如果遇到有的网站不能上，请打开PAC添加网站进去。</p>
							  	<img src="__PUBLIC__/Home/theme/default/images/tech/mac/step04.jpg"></img>
							  </div>
							</div>
				
				</div>
			  </div>
			</div>
			
	 	 </div>
	 </div>	
	 
</div>
<include file="Public/page_footer" />
</body>
</html>