<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" content="ie=edge" />
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 <title>免费试用结点-科学上网（SS）</title>
 
 <include file="Public/cssjs" />
 <script type="text/javascript">

</script>
</head>
<body>
<include file="Public/nav" />
<div class="jumbotron">
  <div class="container top-max">
  	 <div class="clearfix" style="height:4em;"></div>
     <center>
     	<h2>免费试用结点</h2>
     	<div class="clearfix" style="height:0.2em;"></div>
     </center>
  </div>
</div>
<!-- <i class="fa fa-camera-retro fa-lg"></i> fa-lg -->
<!-- <i class="fa fa-camera-retro fa-2x"></i> fa-2x -->
<!-- <i class="fa fa-camera-retro fa-3x"></i> fa-3x -->
<!-- <i class="fa fa-camera-retro fa-4x"></i> fa-4x -->
<!-- <i class="fa fa-camera-retro fa-5x"></i> fa-5x -->
<div class="container">
	 	 
	 <div class="row">
 	 	<div class="col-lg-12"> 
 	 		<center>
				<p>服务器IP:138.128.194.94 端口:40001 密码:6277867923254932 加密方式:aes-256-cfb</p>
				
				<p>服务器IP:138.128.194.94 端口:40002 密码:6234267923232922 加密方式:aes-256-cfb</p>
				
				<p>服务器IP:138.128.194.94 端口:40003 密码:6234267923243243 加密方式:aes-256-cfb</p>
 	 		</center>
	 	 </div>
	 </div>	 
</div>
<include file="Public/page_footer" />
</body>
</html>