<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" content="ie=edge" />
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 <title>科学上网_影梭_SS_影梭账号_SS账号_影梭使用教程_影梭下载_影梭官网</title>
 <meta name="keywords" content="影梭、SS、科学上网、影梭官网、SS、影梭账号、SS账号、影梭使用教程、影梭下载">
 <meta name="description" content="影梭（SS）精选全球数百优质CN2机房，致力于满足外贸从业者、科技工作者、海淘爱好者以及外游玩家等日益增长的外网加速服务需求，协助网友尽早实现科学上网。">
 <include file="Public/cssjs" />
 <script type="text/javascript">

</script>
</head>
<body>
<include file="Public/nav" />
<div class="jumbotron">
  <div class="container top-max">
  	 <div class="clearfix" style="height:4em;"></div>
     <center>
     	<h2>科学上网（SS）</h2>
     	<div class="clearfix" style="height:0.2em;"></div>
     	<h4>墙外,有你意想不到的世界,网络的世界没有国界...</h4>
     	<div class="clearfix" style="height:2em;"></div>
     	<p><a href="__ROOT__/free.html" class="button button-royal button-rounded button-giant">免费使用</a></p>
     </center>
  </div>
</div>
<!-- <i class="fa fa-camera-retro fa-lg"></i> fa-lg -->
<!-- <i class="fa fa-camera-retro fa-2x"></i> fa-2x -->
<!-- <i class="fa fa-camera-retro fa-3x"></i> fa-3x -->
<!-- <i class="fa fa-camera-retro fa-4x"></i> fa-4x -->
<!-- <i class="fa fa-camera-retro fa-5x"></i> fa-5x -->
<div class="container">
 	 <div class="row">
 	 	<div class="col-lg-12">
 	 		<h2 class="page-header">客服端（SS）</h2>
 	 	</div>
 	 	<div class="col-lg-3 ">
	 	 	<a href="__ROOT__/download.html">
	 	 		<center class="center-block bg-primary client-item">
					<i class="fa fa-apple fa-5x"></i>
					<p>apple客服端</p>
				</center>
	 	 	</a>
	    </div>
	   <div class="col-lg-3 ">
	   	<a href="__ROOT__/download.html">
	   		<center class="center-block bg-primary client-item">
	    	<i class="fa fa-android fa-5x"></i>
	    	<p>android客服端</p>
	    	</center>
	    	</a>
	    </div>
	    <div class="col-lg-3">
	    <a href="__ROOT__/Home/download.html">
	    	<center class="center-block bg-primary client-item">
	    	<i class="fa fa-laptop fa-5x"></i>
	    	<p>mac客服端</p>
	    	</center>
	    	</a>
	    </div>
	    <div class="col-lg-3">
	    <a href="__ROOT__/download.html">
	    	<center class="center-block bg-primary client-item">
	    		<i class="fa fa-windows fa-5x"></i>
	    		<p>win客服端</p>
	    	</center>
	    	</a>
	    </div>
	 </div>
	 <div class="clearfix" style="height:1em;"></div>
	 	 
	 <div class="row">
 	 	<div class="col-lg-12"> 
 	 		<div>
 	 			<h2 class="page-header">服务支持</h2>
 	 			<div>
 	 				  <div class="bg-danger service-item">15元/包月套餐 服务资源费用+技术支持</div>
  					  <div class="bg-success service-item">40元/包季套餐 服务资源费用+技术支持</div>
  					  <div class="bg-info service-item">120元/包年套餐 服务资源费用+技术支持</div>
  					  <div class="bg-warning service-item">50元/月 服务资源费用+技术支持 独立服务器 可多人使用</div>
 	 			</div>
 	 			
 	 			<div class="bg-black service-item">加qq群联系客服购买：
 	 				<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=27b9560dc1b0e3ef20426d854715ecc5a105f02a1bc88b1f938795c44357ef1f"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="免费VPN代理软件①" title="免费VPN代理软件①"></a>&nbsp;&nbsp;595053484
 	 			</div>
 	 		</div>
	 	 </div>
	 </div>	 
</div>
<include file="Public/page_footer" />
</body>
</html>