<script language="javascript">
$(function(){
	var tableList="tableList_account";
	var auForm ="addForm_account";
	var saveBtn="saveBtn_account";
	var addDiv="addDiv_account";
	var cancelBtn="cancelBtn_account";
	
	var th = $(".top").height();
	th = 204-th
	var wh = $(window).height()-th;
	var pr = 30;
	var pn = false;
	if(pr>0){
		pn = true;
	}
	$("#"+tableList).datagrid({
		//title:'用户列表',
		idField:'id',
		fix:true, 
		height:wh,
		autoRowHeight:false,
		singleSelect:true,
		striped:true,
		method:'get',
		sortName:'id',
		sortOrder:'desc',
		rownumbers:true,
		pagination:pn,
		pageSize:pr,
		pageList:[30,50,80,100],
		url:'__ROOT__/Admin/Account/pageList',
		fitColumns:true,
		nowrap:true,
		selectOnCheck:false,
		animate:true,
		checkOnSelect:true,
		onBeforeLoad: function () {  
			
		},
		onDblClickRow:function(e,rowIndex,rowData){
			$("#accountUse_account_id_account").val(rowIndex.id);
			
			var o={};
			o['account_id']=rowIndex.id;
			var rows=ajaxReturnList("__ROOT__/Admin/AccountUse/getAllByAccountId",o);
			$("#account_use_list_account").empty();
			for(var i=0;i<rows.length;i++){
				
				add_idcard_tr_account(rows[i].id,rows[i].use_qq,rows[i].start_time,rows[i].use_time,rows[i].is_used);
			}
			
			
			$("#accountUseDiv_account").window('open');
		},
		toolbar:[{
		iconCls: 'fa fa-easyui fa-plus-square',
			text : '添加',
			handler: function(){
				$('#'+auForm).form('clear');
				$('#'+auForm).form('load',{
					
				});
				$("#"+addDiv).window('open');
			}
		},'-',{
			iconCls: 'fa fa-easyui fa-edit',
			text : '编辑',
			handler: function(){
				var selectedRow=$('#'+tableList).datagrid('getSelected');
				if(null==selectedRow){
					$.message.alert('警告','请先选择一行！','warning');
				}else{
					$('#'+auForm).form('load',{
						'data[id]':selectedRow.id,
						'data[port]':selectedRow.port,
						'data[password]':selectedRow.password,
						'data[vps_id]':selectedRow.vps_id,
						'data[secret_way]':selectedRow.secret_way,
						'data[use_qq]':selectedRow.use_qq,
						'data[use_time]':selectedRow.use_time,
						'data[start_time]':selectedRow.start_time
					});
					$("#"+addDiv).window('open');
				}
			}
		},'-',{
			iconCls: 'fa fa-easyui fa-times',
			text : '删除',
			handler: function(){
				var selectedRow=$('#'+tableList).datagrid('getSelected');
				if(null==selectedRow){
					$.message.alert('警告','请先选择一行！','warning');
				}else{
					var ids=selectedRow.id;
					ajaxDelRowsDatagrid('__ROOT__/Admin/Account/delRows',ids,tableList);
				}
			}
		},'-',{
			iconCls: 'fa fa-easyui fa-check-square-o',
			text : '取消选择',
			handler: function(){
				$('#'+tableList).datagrid('clearSelections'); 
			}
		},'-',{
			iconCls: 'fa fa-easyui fa-retweet',
			text : '重载',
			handler: function(){
				$("#"+tableList).datagrid('reload');
			}
		}],
		frozenColumns:[[   
		    
		]],
		columns:[[  
			{field:'ip',title:'IP',width:40,sortable:true},
			{field:'port',title:'端口',width:40,sortable:true},
			{field:'password',title:'密码',width:40,sortable:true},
			{field:'secret_way',title:'加密方式',width:40,sortable:true},
			{field:'use_qq',title:'用户qq',width:40,sortable:true},
			{field:'start_time',title:'开始时间',width:40,sortable:true},
			{field:'use_time',title:'使用周期（月）',width:20,sortable:true},
			{field:'is_used',title:'是否在用',width:20,sortable:true,
				formatter: function(value,row,index){
					var html='';
					if(row.is_used==1){
						html=html+'是';
					}else{
						html=html+'否';
					}
					return html;
				}		
			},
		]]
	});
	$("#"+saveBtn).click(function(){
		ajaxSubmitForm(auForm,'__ROOT__/Admin/Account/addOrUpdate',addDiv,tableList);
	});
	$("#"+cancelBtn).click(function(){
		$('#'+addDiv).window('close');
	});
	$('#vps_account').combobox({
	    url:'__ROOT__/Admin/Vps/getAll',
	    valueField:'id',
	    textField:'ip'
	});
	
});

function add_accountUse_account(){
	var formName="accountUseForm_account";
	var basePath="__ROOT__/Admin/AccountUse/addOrUpdate";
	$('#accountUseForm_account').form('load',{
		'data[id]':""
	});
	$('#'+formName).form('submit',{
		url:basePath,
		onSubmit: function(){
			return $('#'+formName).form('validate');
		},
		success:function(data){
			var obj = eval('(' + data + ')');
			if(obj.flag){
				var row=obj.object;
				add_idcard_tr_account(row['id'],row['use_qq'],row['start_time'],row['use_time'],row['is_used']);
				
			}else{
				 $.messager.alert('系统提示', obj.msg , 'info');
			}
		},
		error:function(data){
		    $.messager.alert('警告', obj.msg , 'warn');
		}
	});
}

function update_accountUse_account(){
	var formName="accountUseForm_account";
	var basePath="__ROOT__/Admin/AccountUse/addOrUpdate";
	$('#'+formName).form('submit',{
		url:basePath,
		onSubmit: function(){
			return $('#'+formName).form('validate');
		},
		success:function(data){
			var obj = eval('(' + data + ')');
			if(obj.flag){
				var row=obj.object;
				add_idcard_tr_account(row['id'],row['use_qq'],row['start_time'],row['use_time'],row['is_used']);
				
			}else{
				 $.messager.alert('系统提示', obj.msg , 'info');
			}
			
			$("#add_accountUse_account").css("display","inline-block");
			$("#update_accountUse_account").css("display","none");
		},
		error:function(data){
		    $.messager.alert('警告', obj.msg , 'warn');
		}
	});
}

function add_idcard_tr_account(id,use_qq,start_time,use_time,is_used){
	var used="否";
	if(is_used){
		used="是";
	}
	$("#account_use_list_account").append('<tr id="account-use-del-control-'+id+'" class="account-use-del-control">'
								+'<td><span>qq：</span>'+use_qq+'</td>'+'<td></td><td><span>开始时间：</span>'+start_time+'</td>'
								+'<td><span>周期（月）：</span>'+use_time+'</td>'+'<td><span>是否在用：</span>'+used+'</td>'
								+'<td>'
								+'<a style="color:red;" href=javascript:update_account_use_account('+id+','+use_qq+',"'+start_time+'",'+use_time+',"'+used+'") class="easyui-linkbutton">修改</a>'
								+'||<a style="color:red;" href="javascript:remove_account_use_tr_account('+id+');" class="easyui-linkbutton">删除</a>'
								+'</td>'
							+'</tr>');
}

function remove_account_use_tr_account(id){
	var o={};
	o['id']=id;
	var rtr=ajaxReturnRow("__ROOT__/Admin/AccountUse/delRow",o);
	var flag=rtr['flag'];
	if(flag){
		$("#account-use-del-control-"+id).remove();
	}
}


function update_account_use_account(id,use_qq,start_time,use_time,used){
	
	$('#accountUseForm_account').form('load',{
		'data[id]':id,
		'data[use_qq]':use_qq,
		'data[start_time]':start_time,
		'data[use_time]':use_time,
		'data[used]':used
	});
	$("#account-use-del-control-"+id).remove();
	
	$("#add_accountUse_account").css("display","none");
	$("#update_accountUse_account").css("display","inline-block");
}

</script>
<div>
	<table id="tableList_account"></table>
</div>
<div id="addDiv_account" class="easyui-window" title="添加" data-options="iconCls:'fa fa-dot-circle-o',closed:true" style="width:600px;height:360px;padding:5px;">
	<div class="easyui-layout" data-options="fit:true">
		<div data-options="region:'center',baccount:true">
			<form id="addForm_account" class="easyui-form" method="post" data-options="novalidate:true">
				<input name="data[id]" type="hidden" />
		    	<table cellpadding="5">
		    		<tr>
		    			<td><div style="width:62px;text-align: right;">端口:</div></td>
		    			<td colspan="3"><input class="easyui-textbox" name="data[port]" data-options="required:true" style="width:455px;height:30px;" type="text"></input></td>		    			
		    		</tr>
		    		<tr>
		    			<td><div style="width:62px;text-align: right;">密码:</div></td>
		    			<td colspan="3"><input class="easyui-textbox" name="data[password]" data-options="required:true" style="width:455px;height:30px;" type="text"></input></td>
		    		</tr>
		    		<tr>
		    			<td><div style="width:62px;text-align: right;">VPS:</div></td>
		    			<td colspan="3">
		    				<select id="vps_account" name="data[vps_id]" class="easyui-combobox" data-options="required:true" style="width:455px;height:30px;" ></select>
		    			</td>
		    		</tr>
		    		<tr>
		    			<td><div style="width:62px;text-align: right;">加密:</div></td>
		    			<td colspan="3">
		    				<select id="config_secret_way_vps" name="data[secret_way]" class="easyui-combobox" data-options="editable:false" style="width:455px;height:30px;">
								<option value="aes-256-cfb">aes-256-cfb</option>
							</select>
		    			</td>
		    		</tr>
		    	</table>
		    </form>
		</div>
		<div data-options="region:'south',baccount:false" style="text-align:right;padding:5px 0 0;">
			<a id="saveBtn_account" class="easyui-linkbutton" data-options="iconCls:'fa fa-easyui fa-check'" href="javascript:void(0)" style="width:80px">保存</a>
			<a id="cancelBtn_account" class="easyui-linkbutton" data-options="iconCls:'fa fa-easyui fa-times'" href="javascript:void(0)" style="width:80px">取消</a>
		</div>
	</div>
</div>


<div id="accountUseDiv_account" class="easyui-window" title="添加用户信息" data-options="iconCls:'fa fa-dot-circle-o',closed:true" style="width:700px;height:600px;padding:5px;">
	<div class="easyui-layout" data-options="fit:true">
		<div data-options="region:'center',baccount:true">
			<form id="accountUseForm_account" class="easyui-form" method="post" data-options="novalidate:true">
				<input id="accountUse_account_id_account" name="data[account_id]" type="hidden" />
				<input id="accountUse_id_account" name="data[id]" type="hidden" />
		    	<table id="accountUse_table_account" cellpadding="5">
		    		<tr>
		    			<td><div style="width:62px;text-align: right;">用户qq:</div></td>
		    			<td><input class="easyui-textbox" name="data[use_qq]" data-options="" style="width:184px;height:30px;" type="text"></input></td>
		    		
		    			<td><div style="width:62px;text-align: right;">是否使用:</div></td>
		    			<td>
							<select name="data[is_used]" class="easyui-combobox" data-options="editable:false" style="width:184px;height:30px;">
								<option value="1">是</option>
								<option value="2">否</option>
							</select>
						</td>
		    		</tr>
		    		<tr>
		    			<td><div style="width:62px;text-align: right;">开始时间:</div></td>
		    			<td><input class="easyui-datebox" name="data[start_time]" data-options="" style="width:184px;height:30px;" type="text"></input></td>
		    			
		    			<td><div style="width:62px;text-align: right;">时长/月:</div></td>
		    			<td><input class="easyui-numberbox" name="data[use_time]" data-options="" style="width:184px;height:30px;" type="text"></input></td>
		    			
		    			<td>
		    				<a id="add_accountUse_account" href="javascript:add_accountUse_account();" class="easyui-linkbutton" style="width:120px;" data-options="iconCls:'icon-add'">添加</a>
		    				<a id="update_accountUse_account" href="javascript:update_accountUse_account();" class="easyui-linkbutton" style="width:120px;display:none;" data-options="iconCls:'icon-add'">更新</a>
		    			</td>
		    		</tr>
		    	</table>
		    	<center>
			    	<div style="background:#E5E5E5;width:660px;height:420px;">
			    		<table id="account_use_list_account"></table>
			    	</div>
		    	</center>
		    </form>
		</div>
	</div>
</div>